[user]
    name = Wes Rupert
    email = wesr@microsoft.com

[alias]
	git = !exec git
	abort = reset --hard HEAD
    changed = blame
    c-amend = commit --amend --no-edit
    c-aa = commit -a --amend --no-edit
    logg = log --decorate --graph
    overview = for-each-ref --count=10 --sort=-committerdate refs/heads/ --format="%(refname:short)"
    recap = log --all --no-merges --author=wesr@microsoft.com --since=4.weeks
    recap-one = log --no-merges --author=wesr@microsoft.com --since=4.weeks
    stash-all = stash save --include-untracked
    sync = fetch --all --prune
    undo = reset --soft HEAD^
[format]
    ;pretty = %C(green)%h%C(red) %>(10)%cr:%C(cyan) (%aN)%C(white) - %<(60,trunc)%s%C(reset)
    pretty = %Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset

[push]
    default = simple
[status]
    showUntrackedFiles = all
[interactive]
	diffFilter = diff-highlight

[core]
	editor = C:/tools/neovim/Neovim/bin/nvim.exe
[diff]
    tool = gvimdiff
[difftool]
    prompt = false
[difftool "bc4"]
    cmd = \"C:\\Program Files\\Beyond Compare 4\\BComp.exe\" "$LOCAL" "$REMOTE"
[difftool "gvimdiff"]
    cmd = \"C:\\tools\\neovim\\Neovim\\bin\\nvim-qt.exe\" "$LOCAL" "$REMOTE" -- -d
[difftool "vimdiff"]
    cmd = \"C:\\tools\\neovim\\Neovim\\bin\\nvim.exe\" -d "$LOCAL" "$REMOTE"
[difftool "vscode"]
    cmd = \"C:\\Program Files\\Microsoft VS Code\\Code.exe\" --wait --diff $LOCAL $REMOTE
[merge]
	tool = bc4
[mergetool "bc4"]
    cmd = \"C:\\Program Files\\Beyond Compare 4\\BComp.exe\" "$LOCAL" "$REMOTE" "$BASE" "$MERGED"
