[submodule "git-diffall"]
	path = git-diffall
	url = https://github.com/thenigan/git-diffall
	branch = master
[submodule "moreutils"]
	path = moreutils/moreutils
	url = git://git.joeyh.name/moreutils
