[[ -f "$HOME/.zshrc.before" ]] && source "$HOME/.zshrc.before"

export PATH=$HOME/bin:$PATH
export PATH=$HOME/platform-tools:$PATH
export PATH=$HOME/.dotfiles/git-diffall:$PATH
export PATH=$HOME/.pyenv/bin:$PATH
export PATH=$HOME/.rbenv/bin:$PATH
export PATH=$HOME/.yarn/bin:$PATH
export PATH=$HOME/.config/yarn/global/node_modules/.bin:$PATH
export PATH=$HOME/.local/bin:$PATH
export PATH=$HOME/.local/share/mise/shims:$PATH
export PATH=$HOME/.composer/vendor/bin:$PATH
export PATH=/usr/local/bin/python:$PATH
export PATH=/usr/local/share/nvim/bin:$PATH

export NPM_TOKEN={{ onepasswordRead "op://Streamlabs/NPM Access Token/credential" }}
export OPENAI_API_KEY={{ onepasswordRead "op://Private/OpenAI Token/api key" }}

