{{ if eq .chezmoi.os "darwin" -}}
#!/usr/bin/env bash
curl -fsSL https://raw.githubusercontent.com/MordechaiHadad/bob/master/scripts/install.sh | bash
{{ else if eq .chezmoi.os "windows" -}}
powershell -c "irm https://raw.githubusercontent.com/MordechaiHadad/bob/master/scripts/install.ps1 | iex"
{{ end -}}