@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul"); /* only needed once */

/* Container indicators on top */
    #TabsToolbar .tabbrowser-tabs {
        -moz-border-top-colors: none !important;
        min-width: 2em !important;
    }

    #TabsToolbar .tabbrowser-tab[usercontextid][visuallyselected="true"] .tab-line {
        background-color: var(--identity-tab-color) !important;
    }

    #TabsToolbar .tabbrowser-tab[usercontextid] > .tab-stack > .tab-background > .tab-bottom-line {
        background: none !important;
    }

    #TabsToolbar .tabbrowser-tab {
        box-shadow: inset 0px 2px 0px var(--identity-tab-color) !important;
    }

    navigator-toolbox{
        background:transparent;
    }

/* Hide tab bar for vertical tabs */
    #TabsToolbar .titlebar-placeholder { display: none !important; }
    #titlebar { display: none !important; }
    #TabsToolbar { visibility: collapse; }

    #sidebar-header {
        padding: 2px !important;
        min-height: 16px !important;
    }

    :root {
        --sidebar-hover-width: 16px;
        --sidebar-visible-width: 200px;
    }

    #sidebar-box {
        position: relative !important;
        overflow-x: hidden !important;
        transition:.1s linear all;
        margin-right: calc(var(--sidebar-hover-width) * -1) !important;
        left: var(--sidebar-hover-width) !important;
        min-width: var(--sidebar-hover-width) !important;
        max-width: var(--sidebar-hover-width) !important;
        opacity: 0 !important;
    }

    #sidebar-box:hover {
        margin-right: calc(var(--sidebar-visible-width) * -1) !important;
        left: var(--sidebar-visible-width) !important;
        min-width: var(--sidebar-visible-width) !important;
        max-width: var(--sidebar-visible-width) !important;
        opacity: 1 !important;
    }

    #sidebar {
        opacity: 0 !important;
    }

    #sidebar:hover {
        opacity: 1 !important;
    }


    /* #sidebar-header is hidden by default, change "none" to "inherit" to restore it. */
    #sidebar-header {
        display: none !important;
    }

    /* #sidebar-splitter styles the divider between the sidebar and the rest of the browser. */
    #sidebar-splitter { }

/* Mini-window */
@media (max-width: 1280px) and (max-height: 720px) {
    #navigator-toolbox > *{
        background:#999;
    }

    #navigator-toolbox {
        position: relative;
        height: 4px;
        transition:.1s linear all;
        overflow: hidden;
        opacity:0;
        margin-bottom: 0px;
        z-index: 1;
    }

    #navigator-toolbox:hover {
        height: 256px;
        margin-bottom: -248px;
        overflow:extend;
        opacity:1;
    }


    #content-deck{
        position:relative;
        z-index: 0;
    }

    #titlebar-buttonbox{
        opacity:0;
        height: 4px;
        overflow: hidden;
        transition:.2s linear all;
    }

    #titlebar-buttonbox:hover {
        opacity:1;
        height: auto;
    }
}
