/* - - - Sidebar tabs - - - */

:root {
  --thin-tab-width: clamp(28px, 15vw, 48px);
  --wide-tab-width: clamp(200px, 33vw, 400px);
}

/* - - Hide title/tab bar - - */

#main-window #titlebar {
  overflow: hidden;
  transition: height ease 150ms !important;
}

#main-window #nav-bar {
  transition: margin ease 150ms !important;
}

#TabsToolbar {
  min-width: 0 !important;
  min-height: 0 !important;
}

/* Default state: Set initial height to enable animation */
#main-window #titlebar { height: 44px !important; }
#main-window[uidensity="touch"] #titlebar { height: 3.35em !important; }
#main-window[uidensity="compact"] #titlebar { height: 2.7em !important; }

/* Hidden state: Hide native tabs strip */
#main-window[titlepreface*="​"] #titlebar { height: 0 !important; }
#main-window[titlepreface*="​"] #titlebar[inFullscreen] { height: 8px !important; }

/* Hidden state: Fix z-index of active pinned tabs */
#main-window[titlepreface*="​"] #tabbrowser-tabs { z-index: 0 !important; }

#main-window[titlepreface*="​"] #titlebar #toolbar-menubar { margin-top: 0px; }

/* Add space for window controls */
#main-window[titlepreface*="​"] #nav-bar { margin-right: 140px; }

/* Move window controls to empty space */
#main-window[titlepreface*="​"] #TabsToolbar .titlebar-buttonbox-container {
  display: block;
  position: absolute;
  top: 8px;
  right: 4px;
}

/* Smaller sidebar header */
#sidebar-box #sidebar-header {
  max-height: 2.5em;
}

/* - - Expanding tab well - - */

/* Remove the side splitter, as it doesn't move with the box due to the margin below */
#sidebar-box + #sidebar-splitter {
  display: none !important;
}

#sidebar-box {
  position: relative !important;
  transition: all ease 150ms !important;
  min-width: var(--thin-tab-width) !important;
  max-width: var(--thin-tab-width) !important;
  overflow: hidden;
  z-index: 1;
}

#sidebar-box:not(:hover) {
  transition-delay: 300ms !important;
}

#sidebar-box:hover {
  min-width: var(--wide-tab-width) !important;
  max-width: var(--wide-tab-width) !important;
  margin-right: calc((var(--wide-tab-width) - var(--thin-tab-width)) * -1) !important;
}

#sidebar-box :is(#sidebar, #sidebar-header) {
  max-width: none !important;
  min-width: var(--wide-tab-width) !important;
}

/* - - - Hide unused items - - - */

/* Tabs */
#TabsToolbar .titlebar-placeholder[type="pre-tabs"],
#TabsToolbar .tab-line,
/* Menu */
#appMenu-tp-button,
#appMenu-tp-separator,
#appMenu-fxa-container,
#appMenu-fxa-container+toolbarseparator,
#appMenuRestoreLastSession,
#appMenu-zoom-controls,
#appMenu-zoom-controls+toolbarseparator,
#appMenu-edit-controls,
#appMenu-edit-controls+toolbarseparator,
#appMenu-library-button,
#appMenu-open-file-button,
#appMenu-save-file-button,
#appMenu-find-button,
#appMenu-more-button,
#appMenu-help-button,
/* URL Bar */
#pageActionButton,
#pocket-button-box,
.autocomplete-history-dropmarker,
#identity-icon-labels
{
  display: none !important;
}