[user]
    name = Wes Rupert
    email = rupertwe@amazon.com

[alias]
    git = !exec git
    abort = reset --hard HEAD
    changed = blame
    c-amend = commit --amend --no-edit
    c-aa = commit -a --amend --no-edit
    logg = log --decorate --graph
    overview = for-each-ref --count=10 --sort=-committerdate refs/heads/ --format="%(refname:short)"
    recap = log --all --no-merges --author=wesr@microsoft.com --since=4.weeks
    recap-one = log --no-merges --author=wesr@microsoft.com --since=4.weeks
    stash-all = stash save --include-untracked
    sync = fetch --all --prune
    undo = reset --soft HEAD^

[diff]
	tool = nvimdiff


[difftool "nvimdiff"]
    cmd = "nvim -d \"$LOCAL\" \"$REMOTE\""

[difftool "vv"]
    cmd = "vv -d \"$LOCAL\" \"$REMOTE\""

[format]
    ;pretty = %C(green)%h%C(red) %>(10)%cr:%C(cyan) (%aN)%C(white) - %<(60,trunc)%s%C(reset)
    pretty = %Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset

[push]
    default = simple

[status]
    showUntrackedFiles = all

[interactive]
	diffFilter = diff-highlight
