@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul"); /* only needed once */

/* - - - - - - - - Sidebar tweaks - - - - - - - - */

#sidebar-header {
    padding: 2px !important;
    min-height: 16px !important;
    border-right: 4px solid white !important;
}

/* - - - - - - - - Expand on hover TST - - - - - - - - */

:root {
    --sidebar-hover-width: 48px;
    --sidebar-visible-width: 768px;
}

:root[inFullscreen="true"] {
    --sidebar-hover-width: 1px;
}

#sidebar-splitter {
    display: none;
}

#sidebar-box[sidebarcommand="treestyletab_piro_sakura_ne_jp-sidebar-action"] {
    overflow: hidden;
    position: relative;
    min-width: var(--sidebar-hover-width);
    max-width: var(--sidebar-hover-width);
    left: var(--sidebar-hover-width);
    transition: all 0.2s ease;
    border-right: 1px solid #0c0c0d;
    z-index: 2;
}

#sidebar-box[sidebarcommand="treestyletab_piro_sakura_ne_jp-sidebar-action"] #sidebar {
    min-width: var(--sidebar-visible-width) !important;
    max-width: var(--sidebar-visible-width) !important;
}

#sidebar-box[sidebarcommand="treestyletab_piro_sakura_ne_jp-sidebar-action"]:hover {
    min-width: var(--sidebar-visible-width) !important;
    max-width: var(--sidebar-visible-width) !important;
    margin-right: calc((var(--sidebar-visible-width) - var(--sidebar-hover-width)) * -1) !important;
    left: var(--sidebar-visible-width) !important;
}

#sidebar-box[sidebarcommand="treestyletab_piro_sakura_ne_jp-sidebar-action"]:hover #sidebar-header {
    transition: all 0.2s ease;
    padding: 2px !important;
    min-height: 16px !important;
    border-right: 4px solid white !important;
}

#sidebar-box[positionend="true"] {
    left: unset;
    right: var(--sidebar-hover-width);
}

#sidebar-box[sidebarcommand="treestyletab_piro_sakura_ne_jp-sidebar-action"][positionend="true"]:hover {
    margin-right: unset !important;
    left: unset !important;
    margin-left: calc((var(--sidebar-visible-width) - var(--sidebar-hover-width)) * -1) !important;
    right: var(--sidebar-visible-width) !important;
}

/* - - - - - - - - Hide Top Tabs - - - - - - - - */

#main-window[tabsintitlebar="true"]:not([extradragspace="true"]) #TabsToolbar { visibility: collapse !important; }
#main-window[tabsintitlebar="true"]:not([extradragspace="true"]) #toolbar-menubar { visibility: visible !important; }
#main-window[tabsintitlebar="true"]:not([extradragspace="true"]) .titlebar-buttonbox-container { position: fixed !important; }
#main-window[tabsintitlebar="true"]:not([extradragspace="true"]) .box-inherit .scrollbox-innerbox { margin-right: 0px !important; }
#main-window:not([inFullscreen]) #nav-bar{ padding: 0px 5px 0px 75px !important; }

/* - - - - - - - - Mini-window - - - - - - - - */

@media (max-width: 900px), (max-height: 720px) {
    :root {
        --sidebar-hover-width: 8px !important;
        --sidebar-visible-width: 200px !important;
    }

    #navigator-toolbox > * {
        background:#999;
    }

    #navigator-toolbox {
        position: relative;
        height: 8px;
        transition:.1s linear all;
        overflow: hidden;
        opacity:0;
        margin-bottom: 0px;
        z-index: 1;
    }

    #navigator-toolbox:hover {
        height: 256px;
        margin-bottom: -248px;
        overflow:extend;
        opacity:1;
    }


    #content-deck{
        position:relative;
        z-index: 0;
    }

    #titlebar-buttonbox{
        opacity:0;
        height: 4px;
        overflow: hidden;
        transition:.2s ease all;
    }

    #titlebar-buttonbox:hover {
        opacity:1;
        height: auto;
    }
}


/* - - - - - - - - Hide unused items - - - - - - - - */

/* Tabs */
#TabsToolbar .titlebar-placeholder[type="pre-tabs"],
#TabsToolbar .tab-line,

/* Menu */
#appMenu-tp-button,
#appMenu-tp-separator,
#appMenu-fxa-container,
#appMenu-fxa-container+toolbarseparator,
#appMenuRestoreLastSession,
#appMenu-zoom-controls,
#appMenu-zoom-controls+toolbarseparator,
#appMenu-edit-controls,
#appMenu-edit-controls+toolbarseparator,
#appMenu-library-button,
/*#appMenu-customize-button,*/
/*#appMenu-customize-button+toolbarseparator,*/
#appMenu-open-file-button,
#appMenu-save-file-button,
#appMenu-find-button,
#appMenu-more-button,
#appMenu-help-button,

/* URL Bar */
#pageActionButton,
#pocket-button-box,
.autocomplete-history-dropmarker,
#identity-icon-labels
{
    display: none !important;
}
